extends ../../layouts/base

block content
  .container
    .pistacheo-info
      h1 Welcome to Pistacheo!
      p Take a look at the <a href="https://github.com/larsonjj/generator-pistacheo#pistacheo-generator---">documentation</a> and start mixing up something awesome.
      p
        img.logo(src="images/pistacheo-icon.png", width="75px")
  code.version v<%= pkg.version %>
